---
import { POSTS_PER_PAGE } from "../../config.json";
import { getBlogPosts } from "src/utils";
import PostList from "$layouts/PostList.astro";

export async function getStaticPaths() {
  const posts = await getBlogPosts();
  return Array.from({ length: Math.ceil(posts.length / POSTS_PER_PAGE) }).map(
    (_, index) => ({
      params: { index: (index + 1).toString() },
      props: { index: index + 1 },
    })
  );
}

const { index } = Astro.props;

const posts = (await getBlogPosts()).splice(
  POSTS_PER_PAGE * (index - 1),
  POSTS_PER_PAGE
);
const total = Math.ceil((await getBlogPosts()).length / POSTS_PER_PAGE);
---

<PostList
  {posts}
  totalPages={total}
  currentPage={index}
  showFeatured={index === 1}
>
  <h1>
    All blog posts
    {total > 0 ? ` - Page ${index}` : ""}
  </h1>
</PostList>
