---
import { POSTS_PER_PAGE } from "../config.json";
import { getBlogPosts } from "src/utils";
import PostList from "$layouts/PostList.astro";
import { Content } from "$content/info/about.mdx";

const posts = (await getBlogPosts()).splice(0, POSTS_PER_PAGE);

const total = Math.ceil((await getBlogPosts()).length / POSTS_PER_PAGE);
---

<PostList {posts} totalPages={total} currentPage={1} showFeatured>
  <Content />
  <div class="border-t pt-8">
    <h1>Latest notes</h1>
  </div>
</PostList>
