<div
  class="mt-4 text-sm border border-yellow-400 bg-yellow-50 dark:bg-yellow-900/40 dark:border-yellow-600 p-[10px] rounded-lg"
>
  <p>
    This article, images or code examples may have been refined, modified,
    reviewed, or initially created using Generative AI with the help of <a
      href="/posts/how-to-use-llm-for-free-lm-studio-guide/"
      >LM Studio, Ollama and local models</a
    >.
  </p>
</div>
