---
import { BASE, NAME, SOCIAL_LINKS } from "../config.json";

const today = new Date();
---

<footer class="">
  <div
    class="mx-auto max-w-7xl px-6 pt-12 mt-12 pb-12 md:flex md:items-center md:justify-center lg:px-16 border-t border-base-200 dark:border-base-800"
  >
    <p
      class="mt-8 text-center text-sm/6 text-base-600 dark:text-base-400 md:order-1 md:mt-0"
    >
      &copy; {today.getFullYear()}
      {NAME}. This work is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International License</a>.
    </p>
  </div>
</footer>
