---
import { Image } from "astro:assets";

const { image } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif}"
);

// replace ../.. with src in image
let replacedImage = image.replace("../..", "/src");

if (!images[replacedImage])
  throw new Error(
    `"${replacedImage}" does not exist in glob: "src/assets/**/*.{jpeg,jpg,png,gif}"`
  );
---

<Image
  src={images[replacedImage]()}
  alt=""
  class="absolute inset-0 h-full w-full rounded-2xl bg-base-50 dark:bg-base-900 object-cover"
/>

<div
  class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-base-900/10 dark:ring-base-100/10"
>
</div>
