---
import { BASE } from "../config.json";
const { tag } = Astro.props;
---

<a
  href={BASE + "/tags/" + tag}
  class="relative z-10 rounded-full bg-base-100 text-xs px-2 py-1 font-medium text-base-700 hover:bg-accent-500/10 dark:bg-base-800 dark:hover:bg-accent-500/10 hover:dark:text-accent-400 hover:text-accent-600 dark:text-base-300 border border-base-200 dark:border-base-700 hover:border-accent-600/20 dark:hover:border-accent-600/20 transition-colors duration-100"
>
  {tag}
</a>
