---
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"button">;

const { class: className, ...props } = Astro.props;
---

<button
  class:list={[
    "theme-toggle flex items-center justify-center text-base-950 hover:text-base-600 dark:text-base-50 dark:hover:text-base-400",
    className,
  ]}
  data-theme-toggle
  {...props}
>
  <span class="sr-only">Theme Toggle</span>

  <!-- Dark Mode Icon -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-6 h-6 hidden dark:block"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z"
    ></path>
  </svg>

  <!-- Light Mode Icon -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-6 h-6 block dark:hidden"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386
      6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591
      1.591M5.25 12H3m4.227-4.773L5.636
      5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0
      017.5 0z"
    ></path>
  </svg>
</button>

<noscript>
  <style>
    .theme-toggle {
      display: none;
    }
  </style>
</noscript>

<script>
  (() => {
    let darkMode = false;

    function setTheme(dark: boolean) {
      const root = document.documentElement;
      if (dark) {
        root.classList.add("dark");
      } else {
        root.classList.remove("dark");
      }
    }

    function toggleTheme() {
      darkMode = !darkMode;
      localStorage.setItem("darkMode", JSON.stringify(darkMode));
      setTheme(darkMode);
    }

    // Initialize theme on page load
    const savedDarkMode = localStorage.getItem("darkMode");
    if (savedDarkMode !== null) {
      darkMode = JSON.parse(savedDarkMode);
    } else {
      darkMode = window.matchMedia("(prefers-color-scheme: dark)").matches;
    }
    setTheme(darkMode);

    // Listen to system theme changes
    window
      .matchMedia("(prefers-color-scheme: dark)")
      .addEventListener("change", (e) => e.matches && toggleTheme());

    window
      .matchMedia("(prefers-color-scheme: light)")
      .addEventListener("change", (e) => e.matches && toggleTheme());

    // Add click event to toggle button
    document
      .querySelector("button[data-theme-toggle]")
      ?.addEventListener("click", toggleTheme);
  })();
</script>
