---
import BaseHead from "../components/BaseHead.astro";
const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full antialiased">
  <head>
    <BaseHead title={title} description={description} image={image} />

    <script is:inline>
      let dark = false;
      if (localStorage.getItem("darkMode")) {
        dark = JSON.parse(localStorage.getItem("darkMode") ?? "false");
      } else {
        dark = window.matchMedia("(prefers-color-scheme: dark)").matches;
      }

      var root = document.getElementsByTagName("html")[0];
      if (dark) {
        root.classList.add("dark");
      } else {
        root.classList.remove("dark");
      }
    </script>

    <style is:global>
      html.dark .astro-code,
      html.dark .astro-code span {
        color: var(--shiki-dark);
      }

      html:not(dark) .astro-code,
      html:not(dark) .astro-code span {
        color: var(--shiki-light);
      }

      pre {
        @apply overflow-hidden !important;
        @apply border border-base-300 dark:border-base-700 bg-base-200/50 dark:bg-base-950/30 rounded-xl !important;
      }

      .line.highlighted {
        margin: 0 -24px;
        padding: 0 24px;
        position: relative;

        display: inline-block;
        width: calc(100% + 48px);
      }
      .line.highlighted {
        @apply bg-accent-500/10 dark:bg-accent-700/10;
      }

      ::selection {
        @apply bg-accent-300/50 dark:bg-accent-900/40;
      }

      lite-youtube {
        @apply rounded-xl border border-base-300 dark:border-base-700;
      }

      .prose mark {
        @apply bg-accent-200 dark:bg-accent-900 text-black dark:text-white;
      }
      .MathJax svg {
        display: inline !important;
      }
    </style>
  </head>

  <body
    class="bg-base-100 dark:bg-base-950 flex mx-1 sm:mx-4 transition-all duration-150"
  >
    <div class="max-w-5xl mx-auto my-1 sm:my-8 w-full">
      <div class="w-full">
        <slot />
      </div>
    </div>

    <div class="fixed inset-0 h-full w-full -z-50">
      <div
        class="h-full w-full max-w-5xl mx-auto bg-base-50 ring-1 ring-base-200 dark:bg-base-900 dark:ring-base-300/20 shadow-lg"
      >
      </div>
    </div>
  </body>
</html>
