name: Pull Request Checks

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  scan:
    name: npm audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        run: corepack enable && corepack prepare pnpm@latest --activate
      - name: Cache pnpm modules
        uses: actions/cache@v5
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-
      - name: install dependencies
        run: pnpm install
      - uses: oke-py/npm-audit-action@v2
        with:
          github_token: ${{ secrets.AUTH_GITHUB_TOKEN }}
          audit_level: moderate
          create_issues: false

  linting:
    name: npm prettier:check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - name: Cache Node.js modules
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-
      - name: install dependencies
        run: npm ci
      - name: biome lint
        run: pnpm run lint
